html {
	color: #413C3C;
}

.slide-left-enter-active,
.slide-left-leave-active {
	transition: transform 0.3s;
}

.slide-left-enter-from,
.slide-left-leave-to {
	transform: translateX(-100vh);
}

.slide-right-enter-active,
.slide-right-leave-active {
	transition: transform 0.3s;
}

.slide-right-enter-from,
.slide-right-leave-to {
	transform: translateX(100vh);
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.page-content {
	/* background-color: #f3f4f6; */
	@apply pt-[85px] bg-[#f3f4f6];
}


::-webkit-scrollbar {
	@apply w-[5px];
	@apply z-0;
}

::-webkit-scrollbar-thumb {
	@apply z-0;
	@apply rounded-lg;
	background-color: gainsboro;
}

