.sticky {
  height: 550px;

  .q-table__top {
    @apply bg-white;
  }

  thead tr:first-child th {
    @apply bg-primary text-white;
  }

  th {
    @apply text-sm font-semibold;
  }

  thead tr th {
    position: sticky;
    z-index: 1;
    top: 0;
  }

  thead tr {
    @apply hover:no-underline;
  }

  tr {
    @apply hover:bg-slate-100;
  }

  &.q-table--loading thead tr:last-child th {
    top: 48px;
  }

  tbody {
    scroll-margin-top: 48px;
    font-weight: normal;
  }
  .table-actions {
    @apply space-x-2;
  }
}
